h1{
    border: 1px solid black;
    color: rgba(110, 90, 10, 0.8);
    background-color: blue;
    border-radius: 10px; /* round cornerz */
    border-style: dashed;
    
}
p{
    text-align: right;
    border: 1px solid black;
    background-image: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgODT1qGyaRCsAhg8MggGGdqZ9z1oIg);
}
body{
    background-image: url(https://pk.image1993.com/cdn/shop/files/IMPRSS-212378_5_66b88e60-1b00-4738-8f28-b720aee6cce6.jpg?v=1690191758);
    background-repeat: no-repeat;
    background-attachment: fixed; /* image will move down webpage or else use scroll where image hides when scrolled. */
    background-position: right top; /* specify x(right) n then y axis(top or bottom) */
    /* background-size: cover; will cover whole page */
    
}