/* container */
.container{
    background-color:aqua;
    border: 1px solid red;
    width:50%;
    height: 40%;
    display: flex;
   flex-direction: row; /* deafult */
    flex-wrap: wrap; /* not in single line if necessary */
    justify-content: flex-end; /* this is for main axis(x axis or row in this case) */
    align-items: flex-start ; /* this is for non main axis(here for top,down or center) */
}

/* items */
.cont-itme{
    background-color: gray;
border: 1px solid black;
width: 100px;

}